<sections>
    <section name="The LHC" disc="The basics of the LHC. Where it is and what is does.">
        <tag>LHC</tag>
        <resource href="/artical/WhatIsTheLHC.html" type="align-left" search="./search/WhatIsTheLHC.html.search" name="What is the LHC" disc="A quick overview of the LHC" />
        <resource href="/static/img/LHCSITE000.png" type="picture" search="./search/LHCSITE000.png.search" name="LHC Map" disc="A diagram of the LHC" />
        <resource href="/static/img/LHCSITE001.png" type="picture" search="./search/LHCSITE001.png.search" name="LHC Map" disc="A map of the LHC" />
    </section>
    <section name="CMS" disc="All about The Compact Mewon Solonoid">
        <resource href="/artical/CMS.html" type="align-left" search="./search/CMS.html.search" name="What is CMS" disc="A quick overview of CMS" />
        <resource href="/static/img/LHCSITE002.png" type="picture" search="./search/LHCSITE002.png.search" name="CMS" disc="A picture of CMS while under construction" />
        <resource href="/static/img/LHCSITE004.png" type="picture" search="./search/LHCSITE004.png.search" name="Diagram of CMS" disc="A diagram of the componance of CMS" />
        <resource href="http://cms.web.cern.ch/news/what-cms" type="link" search="./search/cms.web.cern.chnewswhat-cms.search" name="Useful Link" disc="CMS's disctription of cms" />
        <resource href="/static/powerpoints/SliceForPowerpoint.pptx" type="globe" search="./search/SliceForPowerPoint.pptx.search" name="CMS and Particals" disc="A powerpoint showing the parts of cms intracting with verius particals. Click on a partical name to view it. From https://cms-docdb.cern.ch/cgi-bin/PublicDocDB/ShowDocument?docid=5582" />
    </section>

</sections>