<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!---Boot Strap-->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        
        <!---JQuery--->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <!---Jasny--->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        
    </head>
    <body>
        <!---Nav Bar--->
        <nav class="nav navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Chemestry and the LHC</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                    </ul>
                    <form class="navbar-form navbar-right" role="search" method="post" action="/search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="search" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
            </div>
            
        </nav>
        <!---Content--->
        <br />
        <br />
        <div style="padding:0 19px">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>