{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h3>Welcome</h3>
<p>
As documented by the National Center for Education Statistics <a href="http://nces.ed.gov/fastfacts/display.asp?id=97"></a>(http://nces.ed.gov/fastfacts/display.asp?id=97)</a>, in 2009 only 36% of high school students took physics while 70% took chemistry.  According to the <a href="http://www.bls.gov/opub/btn/volume-3/an-overview-of-employment.htm"> Bureau of Labor Statistics</a>, STEM (science, technology, engineering, and math) occupations are viewed as having some of the best opportunities for job growth in the future. Currently, STEM jobs comprise more than 1 out of every 10 jobs in the United States and have wages that are approaching nearly twice the U.S. average. 
</p>
<p>
This website incorporates topics in high energy particle physics and how they can be incorporated into a standard secondary education chemistry or AP chemistry curriculum in order to spur an interest in physics and other applications of chemistry among high school students. The authors hope that you find this website useful for enriching a standard chemistry curriculum.  
</p>
<h3>Sections</h3>
The following are the varius section, each has differnt content.
<table class="table table-striped table-hover">
    <tbody data-link="row" class="rowlink">
    {% for value in sections %}
        <tr>
            <td><a href="{{url_for('section',id=loop.index-1)}}">{{loop.index}}</a></td>
            <td>{{value.name}}</td>
            <td>{{value.disc}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}