{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
{% if resources %}
<h3>Search</h3>
<table class="table table-striped table-hover">
    
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Section</th>
            <th>Disciption</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    {% for resource in resources %}
        <tr>
            <td><a href="{{resource.href}}"><span class="glyphicon glyphicon-{{resource.resourceType}}"></span></a></td>
            <td>{{resource.name}}</td>
            <td>{{resource.section.name}}</td>
            <td>{{resource.disc}}</td>
        </tr>
    {% endfor %}
    </tbody>
    {% else %}
    <h3>Sorry, Nothing turned up!</h3>
    Cheack you spelling or search for something else.
    {% endif %}
</table>

{% endblock %}